<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
</head>
<body bgcolor="pink" >
  <h2>Basic form</h2>
  <form action="/getdata" method="post">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname">
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname">
    <label for="age">Age:</label>
    <input type="text" id="age" name="age">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
